@charset "UTF-8";

/* Dark */
@media (prefers-color-scheme: dark) {
    /*
    :root {
        --color-main: #11101b;
        --color-primary: #fdfff2;
        --color-secondary: #bcbea6;
        --color-tertiary: #928c7d;
    }
    */
    :root {
        --color-00: #222425;
        --color-01: #7B7B7C;
        --color-primary: #fafafa;
        --color-secondary: #bcbea6;
        --color-tertiary: #928c7d;
    }
}

/* White */
@media (prefers-color-scheme: light) {
    :root {
        --color-main: #fafafa;
        --color-primary: #000000;
        --color-secondary: #bcbea6;
        --color-tertiary: #928c7d;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center{
    align-items: center;
}

.gap-025 {
    gap: 0.25rem;
}

.gap-05 {
    gap: 0.5rem;
}

.gap-1 {
    gap: 1rem;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.m-1 {
    margin: 1rem;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.list-none {
    list-style: none;
}

.inline {
    display: inline;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.block {
    display: block;
}

.font-size-125 {
    font-size: 1.25rem;
}

.font-size-15 {
    font-size: 1.5rem;
}

.font-size-2 {
    font-size: 2rem;
}