/*
.photo-box:hover {
    min-height: 400px;
}

.photo-box:hover > a > img {
    height: 400px;
}
*/

.photo-box {
    position: relative;
}

.photo-box::before {
    display: block;
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.photo-box::after {
    display: block;
    content: "";
    width: 1rem;
    height: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    border-top: 1px solid black;
    border-right: 1px solid black;
}
/*
.photo-box > a > img {
    height: 300px;
}

.photo-box > div {
    display: none;
    pointer-events: none;
}

.photo-box > .hover {
    display: none;
}

.photo-box:hover > div {
    display: inherit;
}

.photo-box:hover > .hover {
    display: inherit;
}

.photo-box-border::before {
    content: "";
    display: block;
    background: #3f474c;
    width: 15px;
    height: 1px;
}

.photo-box-border::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: 0px;
    align-self: end;
    background: #3f474c;
    width: 15px;
    height: 1px;
}

.inside-box-border::before {
    content: "";
    display: block;
    background: #3f474c;
    width: 1px;
    height: 15px;
    margin-bottom: -15px;
}

.inside-box-border::after {
    content: "";
    display: block;
    margin-top: -15px;
    margin-left: auto;
    margin-right: 0px;
    align-self: end;
    background: #3f474c;
    width: 1px;
    height: 15px;
}
*/